nav {
  height: 46px;
}

.nav-item.active {
  color: green;
  font-weight: 600;
  font-size: 1rem;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item:click ~ li{
  background-color: red;
}
