<header>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
    <div style="margin-left: 3px; font-family: cursive;">
      <a [routerLink]="['/homepage', username != null ? username : '']" class="navbar-brand">Tapan Da Mess</a>
    </div>

    <ul class="navbar-nav" *ngIf="simpleAuthenticationService.isUserLoggedIn()">
      <li class="nav-item px-1 active">
		 	  <a [routerLink]="['/homepage', username]" class="nav-link">Home</a>
		  </li>
      <li class="nav-item px-1">
        <a routerLink="/messExpense" class="nav-link">Monthly Expense</a>
      </li>
      <li class="nav-item px-1">
        <a routerLink="/monthlyMeal" class="nav-link">Monthly Meals</a>
      </li>
      <li class="nav-item px-1">
        <a routerLink="/editMeal" class="nav-link">Edit Upcoming Meals</a>
      </li>
      <li class="nav-item px-1">
        <a routerLink="/messReport" class="nav-link">Mess Report</a>
      </li>
      <li class="nav-item px-1">
        <a routerLink="/manageUsers" class="nav-link">Manage Users</a>
      </li>
    </ul>

    <ul *ngIf="simpleAuthenticationService.isUserLoggedIn()" class="navbar-nav navbar-collapse justify-content-end">
      <li class="nav-item">
			  <a routerLink="/profile" class="nav-link">Profile</a>
		  </li>
      <li class="nav-item">
			  <a routerLink="/logout" class="nav-link">Logout</a>
		  </li>
    </ul>
  </nav>
</header>
