<header>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #d0ebff;">
    <div style="margin-left: 3px; font-family: cursive;">
      <a [routerLink]="['/homepage', (fullName | async) != null ? (fullName | async) : '']" class="navbar-brand">Tapan Da Mess</a>
    </div>

    <ul class="navbar-nav" *ngIf="loginStatus | async">
      <li class="nav-item px-1" routerLinkActive="active">
		 	  <a [routerLink]="['/homepage', (fullName | async)]" class="nav-link">Home</a>
		  </li>
      <li class="nav-item px-1" routerLinkActive="active">
        <a routerLink="/messExpense" class="nav-link">Monthly Expense</a>
      </li>
      <li class="nav-item px-1" routerLinkActive="active">
        <a routerLink="/monthlyMeal" class="nav-link">Monthly Meals</a>
      </li>
      <li class="nav-item px-1" routerLinkActive="active">
        <a routerLink="/editMeal" class="nav-link">Edit Meals</a>
      </li>
      <li class="nav-item dropdown px-1" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" routerLink="/messDeposit" data-bs-toggle="dropdown" >Mess Deposit</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="messDeposit/addDeposit">Add Deposit</a></li>
          <li><a class="dropdown-item" routerLink="messDeposit/viewDeposit">View Deposit</a></li>
        </ul>
      </li>
      <li class="nav-item px-1" routerLinkActive="active">
        <a routerLink="/messReport" class="nav-link">Mess Report</a>
      </li>
      <li class="nav-item px-1" routerLinkActive="active">
        <a routerLink="/manageUsers" class="nav-link">Manage Users</a>
      </li>
    </ul>

    <ul *ngIf="loginStatus | async" class="navbar-nav navbar-collapse justify-content-end">
      <li class="nav-item" routerLinkActive="active">
			  <a routerLink="/profile" class="nav-link">Profile</a>
		  </li>
      <li class="nav-item" routerLinkActive="active">
			  <a routerLink="/logout" class="nav-link">Logout</a>
		  </li>
    </ul>
  </nav>
</header>
